extends layout

block body
  body.hold-transition.skin-blue.sidebar-mini(ng-controller='FeedelityCtrl')
    .wrapper
      header.main-header
        //- Logo
        a.logo(href='/')
          //- mini logo for sidebar mini 50x50 pixels
          span.logo-mini
            b MF
          //- logo for regular state and mobile devices
          span.logo-lg
            b MyFeedo
        //- Header Navbar: style can be found in header.less
        nav.navbar.navbar-static-top
          //- Sidebar toggle button
          a.sidebar-toggle(href='', data-toggle='offcanvas', role='button')
            span.sr-only Toggle navigation
          .navbar-custom-menu
            ul.nav.navbar-nav
              //- Messages: style can be found in dropdown.less
              //- li.dropdown.messages-menu
                a.dropdown-toggle(href='#', data-toggle='dropdown')
                  i.fa.fa-envelope-o
                  span.label.label-success 4
                ul.dropdown-menu
                  li.header You have 4 messages
                  li
                    //- inner menu: contains the actual data
                    ul.menu
                      li
                        //- start message
                        a(href='#')
                          .pull-left
                            img.img-circle(src='images/user2-160x160.jpg', alt='User Image')
                          h4
                            | Support Team
                            small
                              i.fa.fa-clock-o
                              |  5 mins
                          p Why not buy a new awesome theme?
                      //- end message
                      li
                        a(href='#')
                          .pull-left
                            img.img-circle(src='dist/img/user3-128x128.jpg', alt='User Image')
                          h4
                            | AdminLTE Design Team
                            small
                              i.fa.fa-clock-o
                              |  2 hours
                          p Why not buy a new awesome theme?
                      li
                        a(href='#')
                          .pull-left
                            img.img-circle(src='dist/img/user4-128x128.jpg', alt='User Image')
                          h4
                            | Developers
                            small
                              i.fa.fa-clock-o
                              |  Today
                          p Why not buy a new awesome theme?
                      li
                        a(href='#')
                          .pull-left
                            img.img-circle(src='dist/img/user3-128x128.jpg', alt='User Image')
                          h4
                            | Sales Department
                            small
                              i.fa.fa-clock-o
                              |  Yesterday
                          p Why not buy a new awesome theme?
                      li
                        a(href='#')
                          .pull-left
                            img.img-circle(src='dist/img/user4-128x128.jpg', alt='User Image')
                          h4
                            | Reviewers
                            small
                              i.fa.fa-clock-o
                              |  2 days
                          p Why not buy a new awesome theme?
                  li.footer
                    a(href='#') See All Messages
              //- Notifications: style can be found in dropdown.less
              //- li.dropdown.notifications-menu
                a.dropdown-toggle(href='#', data-toggle='dropdown')
                  i.fa.fa-bell-o
                  span.label.label-warning 10
                ul.dropdown-menu
                  li.header You have 10 notifications
                  li
                    //- inner menu: contains the actual data
                    ul.menu
                      li
                        a(href='#')
                          i.fa.fa-users.text-aqua
                          |  5 new members joined today
                      li
                        a(href='#')
                          i.fa.fa-warning.text-yellow
                          |  Very long description here that may not fit into the
                          |                       page and may cause design problems
                      li
                        a(href='#')
                          i.fa.fa-users.text-red
                          |  5 new members joined
                      li
                        a(href='#')
                          i.fa.fa-shopping-cart.text-green
                          |  25 sales made
                      li
                        a(href='#')
                          i.fa.fa-user.text-red
                          |  You changed your username
                  li.footer
                    a(href='#') View all
              //- Tasks: style can be found in dropdown.less
              li.dropdown.tasks-menu
                a(href='', data-toggle="modal", data-target="#modSendMessage")
                  i.fa.fa-envelope-o
                  span.hidden-xs  Send Message
                //- ul.dropdown-menu
                  li.header You have 9 tasks
                  li
                    //- inner menu: contains the actual data
                    ul.menu
                      li
                        //- Task item
                        a(href='#')
                          h3
                            | Design some buttons
                            small.pull-right 20%
                          .progress.xs
                            .progress-bar.progress-bar-aqua(style='width: 20%', role='progressbar', aria-valuenow='20', aria-valuemin='0', aria-valuemax='100')
                              span.sr-only 20% Complete
                      //- end task item
                      li
                        //- Task item
                        a(href='#')
                          h3
                            | Create a nice theme
                            small.pull-right 40%
                          .progress.xs
                            .progress-bar.progress-bar-green(style='width: 40%', role='progressbar', aria-valuenow='20', aria-valuemin='0', aria-valuemax='100')
                              span.sr-only 40% Complete
                      //- end task item
                      li
                        //- Task item
                        a(href='#')
                          h3
                            | Some task I need to do
                            small.pull-right 60%
                          .progress.xs
                            .progress-bar.progress-bar-red(style='width: 60%', role='progressbar', aria-valuenow='20', aria-valuemin='0', aria-valuemax='100')
                              span.sr-only 60% Complete
                      //- end task item
                      li
                        //- Task item
                        a(href='#')
                          h3
                            | Make beautiful transitions
                            small.pull-right 80%
                          .progress.xs
                            .progress-bar.progress-bar-yellow(style='width: 80%', role='progressbar', aria-valuenow='20', aria-valuemin='0', aria-valuemax='100')
                              span.sr-only 80% Complete
                      //- end task item
                  li.footer
                    a(href='#') View all tasks
              //- User Account: style can be found in dropdown.less
              li.dropdown.user.user-menu
                a.dropdown-toggle(href='', data-toggle='dropdown')
                  img.user-image(src='images/user2-160x160.jpg', alt='User Image')
                  span.hidden-xs #{user.name}
                ul.dropdown-menu
                  //- User image
                  li.user-header
                    img.img-circle(src='images/user2-160x160.jpg', alt='User Image')
                    p
                      | #{user.name} - Web Developer
                      small Member since Nov. 2012
                  //- Menu Body
                  li.user-body
                    .row
                      .col-xs-4.text-center
                        a(href='#') Followers
                      .col-xs-4.text-center
                        a(href='#') Sales
                      .col-xs-4.text-center
                        a(href='#') Friends
                    //- /.row
                  //- Menu Footer
                  li.user-footer
                    .pull-left
                      a.btn.btn-default.btn-flat(href='#') Profile
                    .pull-right
                      a.btn.btn-default.btn-flat(ng-click="logout()") Sign out
              //- Control Sidebar Toggle Button
              //- li
                a(href='#', data-toggle='control-sidebar')
                  i.fa.fa-gears
      //- Left side column. contains the logo and sidebar
      aside.main-sidebar
        //- sidebar: style can be found in sidebar.less
        section.sidebar
          //- Sidebar user panel
          .user-panel
            .pull-left.image
              img.img-circle(src='images/user2-160x160.jpg', alt='User Image')
            .pull-left.info
              p #{user.name}
              a(href='#')
                i.fa.fa-circle.text-success
                |  Online
          //- search form
          //- form.sidebar-form(action='#', method='get')
            .input-group
              input.form-control(type='text', name='q', placeholder='Search...')
              span.input-group-btn
                button#search-btn.btn.btn-flat(type='submit', name='search')
                  i.fa.fa-search
          //- /.search form
          //- sidebar menu: : style can be found in sidebar.less
          ul.sidebar-menu
            li.header MAIN NAVIGATION
            li.treeview
              a(href='/')
                i.fa.fa-dashboard
                span Dashboard
                //- i.fa.fa-angle-left.pull-right
              //- ul.treeview-menu
                li.active
                  a(href='')
                    i.fa.fa-circle-o
                    |  Dashboard v1
                li
                  a(href='')
                    i.fa.fa-circle-o
                    |  Dashboard v2
            li
              a(href='', ng-click='refresh()')
                i.fa.fa-spinner
                span Fetch Feeds
            li.treeview
              a(href='')
                i.fa.fa-files-o
                span Articles
                i.fa.fa-angle-left.pull-right
              ul.treeview-menu
                li
                  a(href='articles/pending')
                    //- i.fa.fa-circle-o
                    |  Pending Articles
                    span.label.label-primary.pull-right {{articlesCount.pendingArticlesCount}}
                li
                  a(href='articles/approved')
                    //- i.fa.fa-circle-o
                    |  Approved Articles
                    small.label.pull-right.bg-green {{articlesCount.approvedArticlesCount}}
                li
                  a(href='articles/starred')
                    //- i.fa.fa-circle-o
                    |  Starred Articles
                    small.label.pull-right.bg-yellow {{articlesCount.starredArticlesCount}}
                if user.adminLevel === 1
                  li
                    a(href='articles/deleted')
                      //- i.fa.fa-circle-o
                      |  Deleted Articles
                      small.label.label-danger.pull-right {{articlesCount.deletedArticlesCount}}
            li
              a(href='feeds')
                i.fa.fa-wrench
                span Config
            li
              a(href='cats')
                i.fa.fa-laptop
                span Categories
            li.treeview
              a(href='tags')
                i.fa.fa-tags
                span Tags
            li.treeview
              a(href='trends')
                i.fa.fa-line-chart
                span Trending
            li
              a(href='locations')
                i.fa.fa-location-arrow
                span Locations
            if user.adminLevel === 1
              li
                a(href='staffs')
                  i.fa.fa-user
                  span Moderators
              li
                a(href='staffsrole')
                  i.fa.fa-shield
                  span Moderators Role
              li
                a(href='users')
                  i.fa.fa-users
                  span Users
        //- /.sidebar
      //- Content Wrapper. Contains page content
      .content-wrapper
        ng-view
      //- /.content-wrapper
      footer.main-footer
        //- .pull-right.hidden-xs
          b Version
          |  2.3.3
        strong
          | Copyright © 2016-2017 
          a(href='/') MyFeedo
          | .
        |  All rights
        |     reserved.
      //- Control Sidebar
      aside.control-sidebar.control-sidebar-dark
        //- Create the tabs
        ul.nav.nav-tabs.nav-justified.control-sidebar-tabs
          li
            a(href='#control-sidebar-home-tab', data-toggle='tab')
              i.fa.fa-home
          li
            a(href='#control-sidebar-settings-tab', data-toggle='tab')
              i.fa.fa-gears
        //- Tab panes
        .tab-content
          //- Home tab content
          #control-sidebar-home-tab.tab-pane
            h3.control-sidebar-heading Recent Activity
            ul.control-sidebar-menu
              li
                a(href='javascript:void(0)')
                  i.menu-icon.fa.fa-birthday-cake.bg-red
                  .menu-info
                    h4.control-sidebar-subheading Langdon's Birthday
                    p Will be 23 on April 24th
              li
                a(href='javascript:void(0)')
                  i.menu-icon.fa.fa-user.bg-yellow
                  .menu-info
                    h4.control-sidebar-subheading Frodo Updated His Profile
                    p New phone +1(800)555-1234
              li
                a(href='javascript:void(0)')
                  i.menu-icon.fa.fa-envelope-o.bg-light-blue
                  .menu-info
                    h4.control-sidebar-subheading Nora Joined Mailing List
                    p nora@example.com
              li
                a(href='javascript:void(0)')
                  i.menu-icon.fa.fa-file-code-o.bg-green
                  .menu-info
                    h4.control-sidebar-subheading Cron Job 254 Executed
                    p Execution time 5 seconds
            //- /.control-sidebar-menu
            h3.control-sidebar-heading Tasks Progress
            ul.control-sidebar-menu
              li
                a(href='javascript:void(0)')
                  h4.control-sidebar-subheading
                    | Custom Template Design
                    span.label.label-danger.pull-right 70%
                  .progress.progress-xxs
                    .progress-bar.progress-bar-danger(style='width: 70%')
              li
                a(href='javascript:void(0)')
                  h4.control-sidebar-subheading
                    | Update Resume
                    span.label.label-success.pull-right 95%
                  .progress.progress-xxs
                    .progress-bar.progress-bar-success(style='width: 95%')
              li
                a(href='javascript:void(0)')
                  h4.control-sidebar-subheading
                    | Laravel Integration
                    span.label.label-warning.pull-right 50%
                  .progress.progress-xxs
                    .progress-bar.progress-bar-warning(style='width: 50%')
              li
                a(href='javascript:void(0)')
                  h4.control-sidebar-subheading
                    | Back End Framework
                    span.label.label-primary.pull-right 68%
                  .progress.progress-xxs
                    .progress-bar.progress-bar-primary(style='width: 68%')
            //- /.control-sidebar-menu
          //- /.tab-pane
          //- Stats tab content
          #control-sidebar-stats-tab.tab-pane Stats Tab Content
          //- /.tab-pane
          //- Settings tab content
          #control-sidebar-settings-tab.tab-pane
            form(method='post')
              h3.control-sidebar-heading General Settings
              .form-group
                label.control-sidebar-subheading
                  | Report panel usage
                  input.pull-right(type='checkbox', checked='')
                p
                  | Some information about this general settings option
              //- /.form-group
              .form-group
                label.control-sidebar-subheading
                  | Allow mail redirect
                  input.pull-right(type='checkbox', checked='')
                p
                  | Other sets of options are available
              //- /.form-group
              .form-group
                label.control-sidebar-subheading
                  | Expose author name in posts
                  input.pull-right(type='checkbox', checked='')
                p
                  | Allow the user to show his name in blog posts
              //- /.form-group
              h3.control-sidebar-heading Chat Settings
              .form-group
                label.control-sidebar-subheading
                  | Show me as online
                  input.pull-right(type='checkbox', checked='')
              //- /.form-group
              .form-group
                label.control-sidebar-subheading
                  | Turn off notifications
                  input.pull-right(type='checkbox')
              //- /.form-group
              .form-group
                label.control-sidebar-subheading
                  | Delete chat history
                  a.text-red.pull-right(href='javascript:void(0)')
                    i.fa.fa-trash-o
              //- /.form-group
          //- /.tab-pane
      //- /.control-sidebar
      //
        Add the sidebar's background. This div must be placed
        immediately after the control sidebar
      .control-sidebar-bg
    //- ./wrapper
    .modal.fade#modSendMessage(tabindex="-1", role="dialog", aria-labelledby="Send Message", aria-hidden="true")
      .modal-dialog
        .modal-content
          .modal-header
            button.close(type="button", data-dismiss="modal", aria-hidden="true") &times;
            h4#modArticleLbl.modal-title Send Message
          .modal-body
            form(role='form', name='sendMessageForm')
              input(type='hidden')
              .form-group
                label(for='sendTitle') Title
                input.form-control#sendTitle(type="text", name="sendTitle", placeholder='Enter Title', size='60', ng-model="sendMessage.title", required)
              
              .form-group
                label(for='sendMessage') Message
                input.form-control#sendMessage(type="text", name="sendMessage", placeholder='Enter Message', size='60', ng-model="sendMessage.message", required)

              .form-group
                label(for='sendcustomMsg') Custom Message
                input.form-control#sendcustomMsg(type="text", name="sendcustomMsg", placeholder='Enter Custom Message', size='60', ng-model="sendMessage.customMessage", required)

          .modal-footer
            button.btn.btn-default(type="button", data-dismiss="modal") Close
            button.btn.btn-primary(type="button", ng-click='sendMsg()') Send
    
    //- jQuery 2.2.0
    script(src='plugins/jQuery/jQuery-2.2.0.min.js')
    //- jQuery UI 1.11.4
    //- script(src='https://code.jquery.com/ui/1.11.4/jquery-ui.min.js')
    script(src='js/jquery-ui.min.js')
    //- Resolve conflict in jQuery UI tooltip with Bootstrap tooltip
    script.
      $.widget.bridge('uibutton', $.ui.button);
    //- Bootstrap 3.3.6
    script(src='bootstrap/js/bootstrap.min.js')
    script(src='js/bootstrap-dialog.min.js')
    script(src='js/moment.js')
    script(src='plugins/daterangepicker/daterangepicker.js')
    //- datepicker
    script(src='plugins/datepicker/bootstrap-datepicker.js')
    //- Bootstrap WYSIHTML5
    script(src='plugins/bootstrap-wysihtml5/bootstrap3-wysihtml5.all.min.js')
    //- Slimscroll
    script(src='plugins/slimScroll/jquery.slimscroll.min.js')
    //- FastClick
    script(src='plugins/fastclick/fastclick.js')
    //- Pace
    script(src='plugins/pace/pace.min.js')
    //- Bootstrap-timepicker
    script(src='plugins/timepicker/bootstrap-timepicker.min.js')

    script(src='js/app.min.js')
    //- script(src='js/demo.js')
    
    //- AngularJS
    script(src='js/lib/jquery/jquery.timeago.js')
    script(src='http://maps.googleapis.com/maps/api/js?key=AIzaSyCINiQOS0DggEq_jQ_7XPRLN8fYPAyQnAA&libraries=places&sensor=false')
    script(src='js/lib/angular/angular.js')
    script(src='js/lib/angular/angular-route.js')
    script(src="js/lib/angular/angular-sanitize.min.js")
    script(src="js/lib/angular/select.js")
    script(src="js/lib/angular/ng-file-upload.min.js")
    script(src="js/lib/angular/ng-file-upload-shim.min.js")
    script(src="js/lib/angular/ui-bootstrap-tpls.js")
    script(src="js/lib/angular/datetimepicker.js")
    script(src="js/lib/angular/ngAutocomplete.js")
    script(src='js/app.js')
    script(src='js/services.js')
    script(src='js/controllers.js')
    script(src='js/filters.js')
    script(src='js/directives.js')
    script(src='js/lib/affix.js')
    script.
      var loggedinUser = !{JSON.stringify(user)};
