doctype html
html(lang='en', ng-app="feedelity")
  head
    meta(charset='utf8')
    base(href='/')
    title ProjectJK
    link(rel='stylesheet', href='/bootstrap/css/bootstrap.min.css')
    link(rel='stylesheet', href='/css/bootstrap-dialog.min.css')
    link(rel='stylesheet', href='/css/app.css')
    link(rel='stylesheet', href='/css/select.css')
  body
    block body

