/* app css stylesheet */

#table-feed, #form-feed {
  margin-top: 1em;
  margin-bottom: 1em;
}

.clear {
  clear: both;
}

span.label.label-primary a {
  color: black;
}

.article-tb > span {
  border-right: 1px solid #ddd;
  padding-left: 0.5em;
  padding-right: 0.5em;
}

.article-tb > span:last-child {
  border-right: 0px;
  padding-right: 0;
}

.article-read {
  color: #ddd; 
}

a.selected {
  color: black; 
}

a.unselected {
  color: #ddd; 
}

.menu-item.hidden-xs {
    margin-left: 0.25em;
    display: inline-block !important;
}

@media (max-width: 767px) {
.menu-item.hidden-xs {
  display: none!important;
 }
}

.form-inline > * {
   margin:0px 3px;
}

datetimepicker{
    width: 100%;
  display: block;
}


.datetimepicker-wrapper {
  vertical-align: middle;
  display: inline-block;
 
}

.datetimepicker-wrapper > input {
  margin-bottom: 0 !important;
  width: 460px;
}

.datetimepicker-wrapper [ng-model=hours], 
.datetimepicker-wrapper [ng-model=minutes] {
  width: 46px !important;
}

